.Book {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.BookItem {
    border: 1px solid black;
    width: 200px;
    height: 250px;
    margin: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.BookItem > h2, .BookItem > p {
    margin: 5px;
}

/*input 내 화살표 없애기*/
.countBook::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.countBook {
    width: 50px;
    margin: 5px;
    text-align: center;
}