/* .CartContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.CartInput {
    text-align: center;
}

.ItemPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CartBtns {
    display: flex;
    justify-content: space-around;
}

.CartBtns > button {
    width: 100px;
    margin-top: 10px;
} */

.Cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}