.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
    padding: 20px;

    width: 1200px;
}

.Header > input {
    width: 600px;
    padding: 15px;
}

.Btns {
    display: flex;
    gap: 10px; /* 버튼 간격 */
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover{
    background-color: rgb(210, 210, 210);
}

.logo:hover {
    cursor: pointer;
}