.InfoContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.InfoFooter {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

.InfoFooter > span > input {
    appearance: none;
}

.CountInput {
    text-align: center;
}