.Login, .Signup {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.LoginContainer, .SignupContainer {
    display: flex;
    flex-direction: column;
}

.LoginContainer > input, .SignupContainer > input {
    width: 200px;
    padding: 5px;
}

.LogBtn, .SignupBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 213px;
    margin: 10px;
}

/* 일단 임시 */
.homeBtn {
    position: absolute;
    left: 5%;
    top: 5%;
}