.Login {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.LoginContainer, .SignupContainer {
    display: flex;
    flex-direction: column;
}

.LoginContainer > input, .SignupContainer > input {
    width: 200px;
    padding: 5px;
}

.LogBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    margin: 10px;
}

.LogBtn {
    width: 100px;
}

.SignupBtn {
    width: 210px;
    margin-top: 10px;
}