

h2 {
    font-size: 24px;
    color: #333;
}

h3 {
    font-size: 20px;
    color: #555;
    margin-top: 20px;
}

p {
    font-size: 16px;
    margin: 5px 0;
}

strong {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

input {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.Mypage-Container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.DelBtn{
    background-color: #d23a3a;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

.DelBtn:hover{
    background-color: #d01313;
}

.AddBtn {
    background-color: #70cf5c;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.AddBtn:hover {
    background-color: #4aba50;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-form input,
.input-form select,
.input-form button {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}